{% extends 'base.html.twig' %}

{% block body %}

    {{ form_start(edit_form) }}
    {{ form_errors(edit_form) }}


  <div id="container" xmlns="http://www.w3.org/1999/html">
        <div class="row fond">
            <div class="présentation">
                <div class="col-xs-12 col-lg-8">
                    <h1>{{ association.titre1}}</h1>
                    {{ form_widget(edit_form.titre1) }}
                    {{ form_errors(edit_form.titre1) }}

                    <p class="txt_assos">{{ association.article1 }}</p>
                    {{ form_widget(edit_form.article1) }}
                    {{ form_errors(edit_form.article1) }}
                </div>
                <div class="image col-xs-12 col-lg-4">
                    <!--<img class="photo_visiteur" src="img/visiteurs_soir.jpg">-->
                </div>
            </div>
        </div>
        <hr/>
        <hr/>

        <div class="row fond">
            <div class="présentation">
                <div class="image col-xs-12 col-lg-4">
                    <!-- <img class="photo_visiteur" src="img/visiteurs_soir.jpg">-->
                </div>
                <div class="col-xs-12 col-lg-8">
                    <h1>{{ association.titre2}}</h1>
                    {{ form_widget(edit_form.titre2) }}
                    {{ form_errors(edit_form.titre2) }}

                    <p class="txt_assos">{{ association.article2 }}</p>
                    {{ form_widget(edit_form.article2) }}
                    {{ form_errors(edit_form.article2) }}
                </div>
            </div>
        </div>
    <br/>
    <br/>

    <div class="row fond">
        <div class="présentation">
            <div class="col-xs-12 col-lg-8">
                <h1>{{ association.titre3}}</h1>
                {{ form_widget(edit_form.titre3) }}
                {{ form_errors(edit_form.titre3) }}

                <p class="txt_assos">{{ association.article3 }}</p>
                {{ form_widget(edit_form.article3) }}
                {{ form_errors(edit_form.article3) }}
            </div>
            <div class="image col-xs-12 col-lg-4">
                <!--<img class="photo_visiteur" src="img/visiteurs_soir.jpg">-->
            </div>
        </div>
    </div>
    <hr/>
    <hr/>

    <div class="row fond">
        <div class="présentation">
            <div class="image col-xs-12 col-lg-4">
                <!--<img class="photo_visiteur" src="img/visiteurs_soir.jpg">-->
            </div>
            <div class="col-xs-12 col-lg-8">
                <h1>{{ association.titre4}}</h1>
                {{ form_widget(edit_form.titre4) }}
                {{ form_errors(edit_form.titre4) }}

                    <p class="txt_assos">{{ association.article4 }}</p>
                {{ form_widget(edit_form.article4) }}
                {{ form_errors(edit_form.article4) }}

            </div>
        </div>
    </div>
</div>

    <br/>
    <br/>

    <ul class="bouton_twix">
        <li>
            <a href="{{ path('association_index') }}">Back to the list</a>
        </li>
        <li>
    <input type="submit" value="Edit"/>
    {{ form_end(edit_form) }}
        </li>
        <li>
    {{ form_start(delete_form) }}
    <input type="submit" value="Delete">
    {{ form_end(delete_form) }}
        </li>
    </ul>
    
{% endblock %}
