{% extends 'base.html.twig' %}

{% block body %}
   <h1>Associations list</h1>


     {% for association in associations %}
        <div class=container>
        <div class="row fond">
            <div class="présentation">
                <div class="col-xs-12 col-lg-8">
                    <h1>{{ association.titre1 }}</h1>
                    <p class="txt_assos">{{ association.article1 }}</p>
                </div>
                <div class="image col-xs-12 col-lg-4">
                    <!--<img class="photo_visiteur" src="img/visiteurs_soir.jpg">-->
                </div>
            </div>
        </div>
          <div class="row fond">
              <div class="présentation">
                  <div class="col-xs-12 col-lg-8">
                      <h1>{{ association.titre2 }}</h1>
                      <p class="txt_assos">{{ association.article2 }}</p>
                  </div>
                  <div class="image col-xs-12 col-lg-4">
                      <!--<img class="photo_visiteur" src="img/visiteurs_soir.jpg">-->
                  </div>
              </div>
          </div>
          <div class="row fond">
              <div class="présentation">
                  <div class="col-xs-12 col-lg-8">
                      <h1>{{ association.titre3 }}</h1>
                      <p class="txt_assos">{{ association.article3 }}</p>
                  </div>
                  <div class="image col-xs-12 col-lg-4">
                      <!--<img class="photo_visiteur" src="img/visiteurs_soir.jpg">-->
                  </div>
              </div>
          </div>
          <div class="row fond">
              <div class="présentation">
                  <div class="col-xs-12 col-lg-8">
                      <h1>{{ association.titre4 }}</h1>
                      <p class="txt_assos">{{ association.article4 }}</p>
                  </div>
                  <div class="image col-xs-12 col-lg-4">
                      <!--<img class="photo_visiteur" src="img/visiteurs_soir.jpg">-->
                  </div>
              </div>
          </div>
     {% endfor %}
    </div>
{% endblock %}
