{% extends 'base.html.twig' %}

{% block body %}
    <h1>Association</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ association.id }}</td>
            </tr>
            <tr>
                <th>Titre1</th>
                <td>{{ association.titre1}}</td>
            </tr>
            <tr>
                <th>Titre2</th>
                <td>{{ association.titre2}}</td>
            </tr>
            <tr>
                <th>Titre3</th>
                <td>{{ association.titre3}}</td>
            </tr>
            <tr>
                <th>Titre4</th>
                <td>{{ association.titre4}}</td>
            </tr>
            <tr>
                <th>Article1</th>
                <td>{{ association.article1 }}</td>
            </tr>
            <tr>
                <th>Article2</th>
                <td>{{ association.article2 }}</td>
            </tr>
            <tr>
                <th>Article3</th>
                <td>{{ association.article3 }}</td>
            </tr>
            <tr>
                <th>Article4</th>
                <td>{{ association.article4 }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('association_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('association_edit', { 'id': association.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
