{% extends 'base.html.twig' %}

{% block body %}

    <hr/>
    <hr/>
    <h1>Agendas list</h1>

<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 calendar">
        <iframe src="https://calendar.google.com/calendar/embed?src=0mpch1ajlbsgva7i5otctqldr4%40group.calendar.google.com&ctz=Europe/Paris" style="border: double 5px grey" width="100%" height="100%" frameborder="0" scrolling="no"></iframe>
    </div>
        </div>
            </div>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for agenda in agendas %}
            <tr>
                <td><a href="{{ path('agenda_show', { 'id': agenda.id }) }}">{{ agenda.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('agenda_show', { 'id': agenda.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('agenda_edit', { 'id': agenda.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('agenda_new') }}">Create a new agenda</a>
        </li>
    </ul>

{% endblock %}
