{% extends 'base.html.twig' %}

{% block navbar %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('accueil_index') }}">Accueil</a></li>
                    <li><a href="{{ path('association_index') }}">Associations</a></li>
                    <li><a href="{{ path('realisation_index') }}">Realisations</a></li>
                    <li class="active"><a href="{{ path('agenda_index') }}">Agenda</a></li>
                    <li><a class="btn btn-outline-warning" href="{{ path('mecene_index') }}" role="button">Devenir mecene</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
{% endblock %}

{% block body %}

    <hr/>
    <hr/>
    <h1>Agendas list</h1>

<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 calendar">
        <iframe src="https://calendar.google.com/calendar/embed?src=0mpch1ajlbsgva7i5otctqldr4%40group.calendar.google.com&ctz=Europe/Paris" style="border: double 5px grey" width="100%" height="100%" frameborder="0" scrolling="no"></iframe>
    </div>
        </div>
            </div>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for agenda in agendas %}
            <tr>
                <td><a href="{{ path('agenda_show', { 'id': agenda.id }) }}">{{ agenda.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('agenda_show', { 'id': agenda.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('agenda_edit', { 'id': agenda.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('agenda_new') }}">Create a new agenda</a>
        </li>
    </ul>

{% endblock %}
