{% extends 'base.html.twig' %}

{% block navbar %}

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('accueil_index') }}">Accueil</a></li>
                    <li><a href="{{ path('association_index') }}">Associations</a></li>
                    <li class="active"><a href="{{ path('realisation_index') }}">Realisations</a></li>
                    <li><a href="{{ path('agenda_index') }}">Agenda</a></li>
                    <li><a class="btn btn-outline-warning" href="{{ path('mecene_index') }}" role="button">Devenir mecene</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>

{% endblock %}

{% block body %}
    <h1>Realisation list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Article</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for realisation in realisations %}
            <tr>
                <td><a href="{{ path('realisation_show', { 'id': realisation.id }) }}">{{ realisation.id }}</a></td>
                <td>{{ realisation.titre }}</td>
                <td>{{ realisation.article }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('realisation_show', { 'id': realisation.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('realisation_edit', { 'id': realisation.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('realisation_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
