{% extends 'base.html.twig' %}

{% block navbar %}

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('accueil_index') }}">Accueil</a></li>
                    <li><a href="{{ path('association_index') }}">Les associations</a></li>
                    <li class="active"><a href="{{ path('realisation_index') }}">Nos réalisations</a></li>
                    <li><a href="{{ path('agenda_index') }}">L'agenda</a></li>
                    <li><a href="{{ path('mecene_index') }}">Devenir mécène</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>

{% endblock %}

{% block body %}
    <br/>
    <br/>
    <h1></h1>





    {% for realisation in realisations %}


    <!-- BLOC 1 -->
    <div class="container">
        <br/>
        <br/>

        <div class="row fond_real">
            <div class="col-xs-12 text-center">

                <h3>{{ realisation.titre1 }}</h3>

            </div>

            <div class="col-xs-4"><img src="{{ app.request.basepath }}/uploads/{{ realisation.image1 }}" class="thumbnail img_tmp"/>

                <!-- BLOC IMAGE A FINIR -->

            </div>

            <div class="col-xs-8">
                <h3>description</h3>

                <p>{{ realisation.article1 }}</p>

            </div>
        </div>

    </div>
    <!-- FIN BLOC 1 -->


    <!-- BLOC 2 -->
    <div class="container">
        <br/>
        <br/>

        <div class="row fond_real">
            <div class="col-xs-12 text-center">

                <h3>{{ realisation.titre2 }}</h3>

            </div>

            <div class="col-xs-4"><img src="{{ app.request.basepath }}/uploads/{{ realisation.image2 }}" class="thumbnail img_tmp"/>

                <!-- BLOC IMAGE A FINIR -->

            </div>

            <div class="col-xs-8">
                <h3>description</h3>

                <p>{{ realisation.article2 }}</p>

            </div>
        </div>

    </div>
    <!-- FIN BLOC 2 -->


    <!-- BLOC 3 -->
    <div class="container">
        <br/>
        <br/>

        <div class="row fond_real">
            <div class="col-xs-12 text-center">

                <h3>{{ realisation.titre3 }}</h3>

            </div>

            <div class="col-xs-4"><img src="{{ app.request.basepath }}/uploads/{{ realisation.image3 }}" class="thumbnail img_tmp"/>

                <!-- BLOC IMAGE A FINIR -->

            </div>

            <div class="col-xs-8">
                <h3>description</h3>

                <p>{{ realisation.article3 }}</p>

            </div>
        </div>

    </div>
    <!-- FIN BLOC 3 -->


    <!-- BLOC 4 -->
    <div class="container">
        <br/>
        <br/>

        <div class="row fond_real">
            <div class="col-xs-12 text-center">

                <h3>{{ realisation.titre4 }}</h3>

            </div>

            <div class="col-xs-4"><img src="{{ app.request.basepath }}/uploads/{{ realisation.image4 }}" class="thumbnail img_tmp"/>

                <!-- BLOC IMAGE A FINIR -->

            </div>

            <div class="col-xs-8">
                <h3>description</h3>

                <p>{{ realisation.article4 }}</p>

            </div>
        </div>

    </div>
    <!-- FIN BLOC 4 -->


    <!-- BLOC 5 -->
    <div class="container">
        <br/>
        <br/>

        <div class="row fond_real">
            <div class="col-xs-12 text-center">

                <h3>{{ realisation.titre5 }}</h3>

            </div>

            <div class="col-xs-4"><img src="{{ app.request.basepath }}/uploads/{{ realisation.image5 }}" class="thumbnail img_tmp"/>

                <!-- BLOC IMAGE A FINIR -->

            </div>

            <div class="col-xs-8">
                <h3>description</h3>

                <p>{{ realisation.article5 }}</p>

            </div>
        </div>

    </div>
    <!-- FIN BLOC 5 -->


    <!-- BLOC 6 -->
    <div class="container">
        <br/>
        <br/>

        <div class="row fond_real">
            <div class="col-xs-12 text-center">

                <h3>{{ realisation.titre6 }}</h3>

            </div>

            <div class="col-xs-4"><img src="{{ app.request.basepath }}/uploads/{{ realisation.image6 }}" class="thumbnail img_tmp"/>

                <!-- BLOC IMAGE A FINIR -->

            </div>

            <div class="col-xs-8">
                <h3>description</h3>

                <p>{{ realisation.article6 }}</p>

            </div>
        </div>

    </div>
    <!-- FIN BLOC 6 -->


    <!-- BLOC 7 -->
    <div class="container">
        <br/>
        <br/>

        <div class="row fond_real">
            <div class="col-xs-12 text-center">

                <h3>{{ realisation.titre7 }}</h3>

            </div>

            <div class="col-xs-4"><img src="{{ app.request.basepath }}/uploads/{{ realisation.image7 }}" class="thumbnail img_tmp"/>

                <!-- BLOC IMAGE A FINIR -->

            </div>

            <div class="col-xs-8">
                <h3>description</h3>

                <p>{{ realisation.article7 }}</p>

            </div>
        </div>

    </div>
    <!-- FIN BLOC 7 -->


    <!-- BLOC 8 -->
    <div class="container">
        <br/>
        <br/>

        <div class="row fond_real">
            <div class="col-xs-12 text-center">

                <h3>{{ realisation.titre8 }}</h3>

            </div>

            <div class="col-xs-4"><img src="{{ app.request.basepath }}/uploads/{{ realisation.image8 }}" class="thumbnail img_tmp"/>

                <!-- BLOC IMAGE A FINIR -->

            </div>

            <div class="col-xs-8">
                <h3>description</h3>

                <p>{{ realisation.article8 }}</p>

            </div>
        </div>

    </div>
    <!-- FIN BLOC 8 -->


    <!-- BLOC 9 -->
    <div class="container">
        <br/>
        <br/>

        <div class="row fond_real">
            <div class="col-xs-12 text-center">

                <h3>{{ realisation.titre9 }}</h3>

            </div>

            <div class="col-xs-4"><img src="{{ app.request.basepath }}/uploads/{{ realisation.image9 }}" class="thumbnail img_tmp"/>

                <!-- BLOC IMAGE A FINIR -->

            </div>

            <div class="col-xs-8">
                <h3>description</h3>

                <p>{{ realisation.article9 }}</p>

            </div>
        </div>

    </div>
    <!-- FIN BLOC 9 -->


    <!-- BLOC 10 -->
    <div class="container">
        <br/>
        <br/>

        <div class="row fond_real">
            <div class="col-xs-12 text-center">

                <h3>{{ realisation.titre10 }}</h3>

            </div>

            <div class="col-xs-4"><img src="{{ app.request.basepath }}/uploads/{{ realisation.image10 }}" class="thumbnail img_tmp"/>

                <!-- BLOC IMAGE A FINIR -->

            </div>

            <div class="col-xs-8">
                <h3>description</h3>

                <p>{{ realisation.article10 }}</p>

            </div>
        </div>

    </div>
    <!-- FIN BLOC 10 -->

    <br />
    <br />
{% endfor %}
{% endblock %}
