{% extends 'base.html.twig' %}

{% block body %}
    <br/>
    <br/>
    <h1>Realisation list - PAGE INDEX</h1>





    {% for realisation in realisations %}


    <!-- BLOC 1 -->
    <div class="container">
        <br/>
        <br/>

        <div class="row fond">
            <div class="col-xs-12 text-center">

                <h3>{{ realisation.titre1 }}</h3>

            </div>

            <div class="col-xs-4"><img src="../fichiers/file/real/affiche_film_14-18.jpg" alt="IMGArt 1" class="thumbnail img_tmp"/>

                <!-- BLOC IMAGE A FINIR -->

            </div>

            <div class="col-xs-8">
                <h3>description</h3>

                <p>{{ realisation.article1 }}</p>

            </div>
        </div>

    </div>
    <!-- FIN BLOC 1 -->


    <!-- BLOC 2 -->
    <div class="container">
        <br/>
        <br/>

        <div class="row fond">
            <div class="col-xs-12 text-center">

                <h3>{{ realisation.titre2 }}</h3>

            </div>

            <div class="col-xs-4"><img src="../fichiers/file/real/affiche_film_14-18.jpg" alt="IMGArt 1" class="thumbnail img_tmp"/>

                <!-- BLOC IMAGE A FINIR -->

            </div>

            <div class="col-xs-8">
                <h3>description</h3>

                <p>{{ realisation.article2 }}</p>

            </div>
        </div>

    </div>
    <!-- FIN BLOC 2 -->


    <!-- BLOC 3 -->
    <div class="container">
        <br/>
        <br/>

        <div class="row fond">
            <div class="col-xs-12 text-center">

                <h3>{{ realisation.titre3 }}</h3>

            </div>

            <div class="col-xs-4"><img src="../fichiers/file/real/affiche_film_14-18.jpg" alt="IMGArt 1" class="thumbnail img_tmp"/>

                <!-- BLOC IMAGE A FINIR -->

            </div>

            <div class="col-xs-8">
                <h3>description</h3>

                <p>{{ realisation.article3 }}</p>

            </div>
        </div>

    </div>
    <!-- FIN BLOC 3 -->


    <!-- BLOC 4 -->
    <div class="container">
        <br/>
        <br/>

        <div class="row fond">
            <div class="col-xs-12 text-center">

                <h3>{{ realisation.titre4 }}</h3>

            </div>

            <div class="col-xs-4"><img src="../fichiers/file/real/affiche_film_14-18.jpg" alt="IMGArt 1" class="thumbnail img_tmp"/>

                <!-- BLOC IMAGE A FINIR -->

            </div>

            <div class="col-xs-8">
                <h3>description</h3>

                <p>{{ realisation.article4 }}</p>

            </div>
        </div>

    </div>
    <!-- FIN BLOC 4 -->


    <!-- BLOC 5 -->
    <div class="container">
        <br/>
        <br/>

        <div class="row fond">
            <div class="col-xs-12 text-center">

                <h3>{{ realisation.titre5 }}</h3>

            </div>

            <div class="col-xs-4"><img src="../fichiers/file/real/affiche_film_14-18.jpg" alt="IMGArt 1" class="thumbnail img_tmp"/>

                <!-- BLOC IMAGE A FINIR -->

            </div>

            <div class="col-xs-8">
                <h3>description</h3>

                <p>{{ realisation.article5 }}</p>

            </div>
        </div>

    </div>
    <!-- FIN BLOC 5 -->


    <!-- BLOC 6 -->
    <div class="container">
        <br/>
        <br/>

        <div class="row fond">
            <div class="col-xs-12 text-center">

                <h3>{{ realisation.titre6 }}</h3>

            </div>

            <div class="col-xs-4"><img src="../fichiers/file/real/affiche_film_14-18.jpg" alt="IMGArt 1" class="thumbnail img_tmp"/>

                <!-- BLOC IMAGE A FINIR -->

            </div>

            <div class="col-xs-8">
                <h3>description</h3>

                <p>{{ realisation.article6 }}</p>

            </div>
        </div>

    </div>
    <!-- FIN BLOC 6 -->


    <!-- BLOC 7 -->
    <div class="container">
        <br/>
        <br/>

        <div class="row fond">
            <div class="col-xs-12 text-center">

                <h3>{{ realisation.titre7 }}</h3>

            </div>

            <div class="col-xs-4"><img src="../fichiers/file/real/affiche_film_14-18.jpg" alt="IMGArt 1" class="thumbnail img_tmp"/>

                <!-- BLOC IMAGE A FINIR -->

            </div>

            <div class="col-xs-8">
                <h3>description</h3>

                <p>{{ realisation.article7 }}</p>

            </div>
        </div>

    </div>
    <!-- FIN BLOC 7 -->


    <!-- BLOC 8 -->
    <div class="container">
        <br/>
        <br/>

        <div class="row fond">
            <div class="col-xs-12 text-center">

                <h3>{{ realisation.titre8 }}</h3>

            </div>

            <div class="col-xs-4"><img src="../fichiers/file/real/affiche_film_14-18.jpg" alt="IMGArt 1" class="thumbnail img_tmp"/>

                <!-- BLOC IMAGE A FINIR -->

            </div>

            <div class="col-xs-8">
                <h3>description</h3>

                <p>{{ realisation.article8 }}</p>

            </div>
        </div>

    </div>
    <!-- FIN BLOC 8 -->


    <!-- BLOC 9 -->
    <div class="container">
        <br/>
        <br/>

        <div class="row fond">
            <div class="col-xs-12 text-center">

                <h3>{{ realisation.titre9 }}</h3>

            </div>

            <div class="col-xs-4"><img src="../fichiers/file/real/affiche_film_14-18.jpg" alt="IMGArt 1" class="thumbnail img_tmp"/>

                <!-- BLOC IMAGE A FINIR -->

            </div>

            <div class="col-xs-8">
                <h3>description</h3>

                <p>{{ realisation.article9 }}</p>

            </div>
        </div>

    </div>
    <!-- FIN BLOC 9 -->


    <!-- BLOC 10 -->
    <div class="container">
        <br/>
        <br/>

        <div class="row fond">
            <div class="col-xs-12 text-center">

                <h3>{{ realisation.titre10 }}</h3>

            </div>

            <div class="col-xs-4"><img src="../fichiers/file/real/affiche_film_14-18.jpg" alt="IMGArt 1" class="thumbnail img_tmp"/>

                <!-- BLOC IMAGE A FINIR -->

            </div>

            <div class="col-xs-8">
                <h3>description</h3>

                <p>{{ realisation.article10 }}</p>

            </div>
        </div>

    </div>
    <!-- FIN BLOC 10 -->

    <br />
    <br />
{% endfor %}
{% endblock %}
