{% extends 'base.html.twig' %}

{% block navbar %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('accueil_index') }}">Accueil</a></li>
                    <li><a href="{{ path('association_index') }}">Associations</a></li>
                    <li><a href="{{ path('realisation_index') }}">Realisations</a></li>
                    <li><a href="{{ path('agenda_index') }}">Agenda</a></li>
                    <li class="active"><a class="btn btn-outline-warning" href="{{ path('mecene_index') }}" role="button">Devenir mecene</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
{% endblock %}

{% block body %}
    <hr />
    <hr />
    <h1>Mecenes list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Presentation</th>
                <th>Formulaire1</th>
                <th>Formulaire2</th>

            </tr>
        </thead>
        <tbody>
        {% for mecene in mecenes %}
            <tr>
                <td><a href="{{ path('mecene_show', { 'id': mecene.id }) }}">{{ mecene.id }}</a></td>
                <td>{{ mecene.presentation }}</td>
                <td>{{ mecene.formulaire1 }}</td>
                <td>{{ mecene.formulaire2 }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('mecene_show', { 'id': mecene.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('mecene_edit', { 'id': mecene.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('mecene_new') }}">Create a new mecene</a>
        </li>
    </ul>
{% endblock %}
