{% extends 'base.html.twig' %}

{% block body %}
    <hr/>
    <hr/>

    <h1>Mecene</h1>
    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ mecene.id }}</td>
            </tr>
            <tr>
                <th>Presentation</th>
                <td>{{ mecene.presentation }}</td>
            </tr>
            <tr>
                <th>Formulaire1</th>
                <td>{{ mecene.formulaire1 }}</td>
            </tr>
            <tr>
                <th>Formulaire2</th>
                <td>{{ mecene.formulaire2 }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('mecene_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('mecene_edit', { 'id': mecene.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
