{% extends 'base.html.twig' %}

{% block navbar %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{{ path('accueil_index')~('1/edit') }}">Accueil</a></li>
                    <li><a href="{{ path('association_index')~('1/edit') }}">Associations</a></li>
                    <li><a href="{{ path('realisation_index')~('1/edit') }}">Realisations</a></li>
                    <li><a href="{{ path('agenda_index')~('1/edit') }}">Agenda</a></li>
                    <li><a class="btn btn-outline-warning" href="{{ path('mecene_index')~('1/edit') }}" role="button">Devenir mecene</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
{% endblock %}

{% block body %}
    <br/>

    {{ form_start(form) }}
    {{ form_errors(form) }}


<div id="container">
   <br>
   <br>

    <!--bloc video-->

    <div class="row fond_video">
        <div class="col-xs-12 col-lg-6">
            <div class="video">

                <h3 class="titre_accueil">Fonds de Soutien du Patrimoine Percheron</h3>

                <iframe width="560" height="315" src="https://www.youtube.com/embed/rZRLTsJHNTo" frameborder="0" allowfullscreen></iframe>
                {{ form_widget(form.video) }}
                {{ form_errors(form.video) }}

            </div>

        </div>
    </div>

    <!--fin bloc video-->

    <br/>
    <br/>

    <!--bloc articles-->
    <div class="row fond_accueil">
        <div class="presentation">

            <!--article 1-->

            <div class="col-xs-12 col-lg-6">
                <h1>{{ accueil.titre1 }}</h1>
                {{ form_widget(form.titre1) }}
                {{ form_errors(form.titre1) }}

                <p class="txt_accueil">{{ accueil.article1 }}</p>
                {{ form_widget(form.article1,  {'attr': {'class': 'champ5'}}) }}
                {{ form_errors(form.article1,  {'attr': {'class': 'champ5'}}) }}
            </div>

            <div class="col-xs-12">
                <input type="submit" value="Valider les modifications"/>
            </div>

            <!--article 2-->

            <div class="col-xs-12 col-lg-6">
                <h1>{{ accueil.titre2 }}</h1>
                {{ form_widget(form.titre2) }}
                {{ form_errors(form.titre2) }}

                <p class="txt_accueil">{{ accueil.article2 }}</p>
                {{ form_widget(form.article2,  {'attr': {'class': 'champ5'}}) }}
                {{ form_errors(form.article2,  {'attr': {'class': 'champ5'}}) }}
            </div>

            <div class="col-xs-12">
                <input type="submit" value="Valider les modifications"/>
            </div>

            <!--article 3-->

            <div class="col-xs-12 col-lg-6">
                <h1>{{ accueil.titre3 }}</h1>
                {{ form_widget(form.titre3) }}
                {{ form_errors(form.titre3) }}

                <p class="txt_accueil">{{ accueil.article3 }}</p>
                {{ form_widget(form.article3,  {'attr': {'class': 'champ5'}}) }}
                {{ form_errors(form.article3,  {'attr': {'class': 'champ5'}}) }}
            </div>

            <div class="col-xs-12">
                <input type="submit" value="Valider les modifications"/>
            </div>

            <!--article 4-->

            <div class="col-xs-12 col-lg-6">
                <h1>{{ accueil.titre4 }}</h1>
                {{ form_widget(form.titre4) }}
                {{ form_errors(form.titre4) }}

                <p class="txt_accueil">{{ accueil.article4 }}</p>
                {{ form_widget(form.article4,  {'attr': {'class': 'champ5'}}) }}
                {{ form_errors(form.article4,  {'attr': {'class': 'champ5'}}) }}
            </div>

            <div class="col-xs-12">
                <input type="submit" value="Valider les modifications"/>
            </div>

        </div>
    </div>

    <!--fin bloc articles-->

    <br>
    <br>
</div>
        <ul class="bouton_twix">
            <li>
                <a href="{{ path('accueil_index') }}">Back to the list</a>
            </li>
        </ul>

                {{ form_end(form) }}



{% endblock %}