{% extends 'base.html.twig' %}

{% block navbar %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{{ path('accueil_index')~('1/edit') }}">Accueil</a></li>
                    <li><a href="{{ path('association_index')~('1/edit') }}">Associations</a></li>
                    <li><a href="{{ path('realisation_index')~('1/edit') }}">Realisations</a></li>
                    <li><a href="{{ path('agenda_index')~('1/edit') }}">Agenda</a></li>
                    <li><a class="btn btn-outline-warning" href="{{ path('mecene_index')~('1/edit') }}" role="button">Devenir mecene</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
{% endblock %}

{% block body %}
    <br/>
    <br/>

    {{ form_start(form) }}
    {{ form_errors(form) }}

<div id="container" xmlns="http://www.w3.org/1999/html">
    <div class="row fond">
        <div class="video">
            <iframe src="https://www.youtube.com/watch?v=rZRLTsJHNTo&feature=youtu.be"></iframe>
        </div>
    </div>
    <br/>
    <br/>
    <div class="row fond">
        <div class="presentation">
            <div class="col-xs-12 col-lg-6">
                <h1>{{ accueil.titre1 }}</h1>
                {{ form_widget(form.titre1) }}
                {{ form_errors(form.titre1) }}

                <p class="txt_accueil">{{ accueil.article1 }}</p>
                {{ form_widget(form.article1) }}
                {{ form_errors(form.article1) }}
            </div>
            <div class="col-xs-12 col-lg-6">
                <h1>{{ accueil.titre2 }}</h1>
                {{ form_widget(form.titre2) }}
                {{ form_errors(form.titre2) }}

                <p class="txt_accueil">{{ accueil.article2 }}</p>
                {{ form_widget(form.article2) }}
                {{ form_errors(form.article2) }}
            </div>
            <div class="col-xs-12 col-lg-6">
                <h1>{{ accueil.titre3 }}</h1>
                {{ form_widget(form.titre3) }}
                {{ form_errors(form.titre3) }}

                <p class="txt_accueil">{{ accueil.article3 }}</p>
                {{ form_widget(form.article3) }}
                {{ form_errors(form.article3) }}
            </div>
            <div class="col-xs-12 col-lg-6">
                <h1>{{ accueil.titre4 }}</h1>
                {{ form_widget(form.titre4) }}
                {{ form_errors(form.titre4) }}

                <p class="txt_accueil">{{ accueil.article4 }}</p>
                {{ form_widget(form.article4) }}
                {{ form_errors(form.article4) }}
            </div>
        </div>
    </div>
</div>


        <ul class="bouton_twix">
            <li>
                <a href="{{ path('accueil_index') }}">Back to the list</a>
            </li>
            <li>
                <input type="submit" value="Edit"/>
                {{ form_end(form) }}
            </li>
            <li>
                {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
                {{ form_end(delete_form) }}
            </li>
        </ul>

{% endblock %}