{% extends 'base.html.twig' %}

{% block body %}
    <br/>
    <br/>
    <h1></h1>


    {% for accueil in accueils %}
    <div id="container">
        <div class="row fond">
            <div class="video">{{ accueil.video }}</div>
        </div>
        <br/>
        <br/>
        <div class="row fond">
            <div class="presentation">
                <div class="col-xs-12 col-lg-6">
                    <h1>{{ accueil.titre1 }}</h1>

                    <p class="txt_accueil">{{ accueil.article1 }}</p>

                </div>
                <div class="col-xs-12 col-lg-6">
                    <h1>{{ accueil.titre2 }}</h1>

                    <p class="txt_accueil">{{ accueil.article2 }}</p>

                </div>
                <div class="col-xs-12 col-lg-6">
                    <h1>{{ accueil.titre3 }}</h1>

                    <p class="txt_accueil">{{ accueil.article3 }}</p>

                </div>
                <div class="col-xs-12 col-lg-6">
                    <h1>{{ accueil.titre4 }}</h1>

                    <p class="txt_accueil">{{ accueil.article4 }}</p>

                </div>
            </div>
        </div>

        {% endfor %}
    </div>
{% endblock %}
