{% extends 'base.html.twig' %}

{% block navbar %}

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{{ path('accueil_index') }}">Accueil</a></li>
                    <li><a href="{{ path('association_index') }}">Associations</a></li>
                    <li><a href="{{ path('realisation_index') }}">Realisations</a></li>
                    <li><a href="{{ path('agenda_index') }}">Agenda</a></li>
                    <li><a class="btn btn-outline-warning" href="{{ path('mecene_index') }}" role="button">Devenir mecene</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>

{% endblock %}

{% block body %}
    <br/>
    <br/>

    {% for accueil in accueils %}
    <div id="container">
        <br>
        <!--lien video-->
        <div class="row fond_accueil">
            <div class="video">
                <iframe src="https://www.youtube.com/watch?v=rZRLTsJHNTo&feature=youtu.be" style="height:80%; width:25%"></iframe>
            </div>
        </div>
        <br/>
        <br/>
        <!--articles-->
        <div class="row fond_accueil">
            <div class="presentation">
                <div class="col-xs-12 col-lg-6">
                    <h1>{{ accueil.titre1 }}</h1>

                    <p class="txt_accueil">{{ accueil.article1 }}</p>
                </div>
                <div class="col-xs-12 col-lg-6">
                    <h1>{{ accueil.titre2 }}</h1>

                    <p class="txt_accueil">{{ accueil.article2 }}</p>
                </div>
                <div class="col-xs-12 col-lg-6">
                    <h1>{{ accueil.titre3 }}</h1>

                    <p class="txt_accueil">{{ accueil.article3 }}</p>
                </div>
                <div class="col-xs-12 col-lg-6">
                    <h1>{{ accueil.titre4 }}</h1>

                    <p class="txt_accueil">{{ accueil.article4 }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
        <br>
        <br>
    </div>
{% endblock %}
