{% extends 'base.html.twig' %}

{% block body %}
    <br/>
    <br/>
    <h1>Accueil</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ accueil.id }}</td>
            </tr>
            <tr>
                <th>Article</th>
                <td>{{ accueil.article1 }}</td>
            </tr>
            <tr>
                <th>Article2</th>
                <td>{{ accueil.article2 }}</td>
            </tr>
            <tr>
                <th>Article3</th>
                <td>{{ accueil.article3 }}</td>
            </tr>
            <tr>
                <th>Article4</th>
                <td>{{ accueil.article4 }}</td>
            </tr>
            <tr>
                <th>Titre1</th>
                <td>{{ accueil.titre1 }}</td>
            </tr>
            <tr>
                <th>Titre2</th>
                <td>{{ accueil.titre2 }}</td>
            </tr>
            <tr>
                <th>Titre3</th>
                <td>{{ accueil.titre3 }}</td>
            </tr>
            <tr>
                <th>Titre4</th>
                <td>{{ accueil.titre4 }}</td>
            </tr>
            <tr>
                <th>Video</th>
                <td>{{ accueil.video }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('accueil_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('accueil_edit', { 'id': accueil.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
