{% extends 'base.html.twig' %}

{% block body %}
    <h1>patrimoine list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Intro</th>
                <th>Article</th>
                <th>Présentation</th>
                <th>Formulaire</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for patrimoine in patrimoines %}
            <tr>
                <td><a href="{{ path('patrimoine_show', { 'id': patrimoine.id }) }}">{{ patrimoine.id }}</a></td>
                <td>{{ patrimoine.titre }}</td>
                <td>{{ patrimoine.intro }}</td>
                <td>{{ patrimoine.article }}</td>
                <td>{{ patrimoine.presentation }}</td>
                <td>{{ patrimoine.formulaire }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('patrimoine_show', { 'id': patrimoine.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('patrimoine_edit', { 'id': patrimoine.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('patrimoine_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
