{% extends 'base.html.twig' %}

{% block body %}
    <h1>patrimoine</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ patrimoine.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ patrimoine.titre }}</td>
            </tr>
            <tr>
                <th>Intro</th>
                <td>{{ patrimoine.intro }}</td>
            </tr>
            <tr>
                <th>Article</th>
                <td>{{ patrimoine.article }}</td>
            </tr>
            <tr>
                <th>Présentation</th>
                <td>{{ patrimoine.presentation }}</td>
            </tr>
            <tr>
                <th>Formulaire</th>
                <td>{{ patrimoine.formulaire }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('patrimoine_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('patrimoine_edit', { 'id': patrimoine.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
